<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insercion_Gatos_Proyecto</title>
</head>
<body>
       <h1>Introduce datos</h1>
    <form action="http://localhost:8080/introduceDatos" method="POST">
        <label for="datos">Gato:</label>
        <input type="text" name="datos" value="">
        <br/>
     
        <input type="submit" value="Introduzca Gato">
    </form>
</body>
</html>